<div class="col-sm-2"
	style="height: 100%; position: fixed; padding-left: 1.8%; margin-top: 4%; padding-right: 1%; color: white;">
	<i class="fa fa-plane" style="font-size: 18px; margin-right: 5%;"></i>
	<h3 style="display: inline-block;">Viagens</h3>
	<div class="list-group l-menu" style="font-size: 14px;">
		<a href="/travels" class="list-group-item travels-menu"
			style="border-radius: 0px; border-color: rgb(82, 82, 82);">Todas</a>
		<a href="/travels/board" class="list-group-item travels-board"
			style="border-radius: 0px; border-color: rgb(82, 82, 82);">Participando</a>
		<a href="/travels/admin" class="list-group-item travels-admin"
			style="border-radius: 0px; border-color: rgb(82, 82, 82);">Administrando</a>
	</div>
	<i class="fa fa-volume-down" style="font-size: 22px; margin-right: 5%;"></i>
	<h3 style="display: inline-block;">Notificações</h3>
	<div class="list-group"
		style="overflow-y: auto; max-height: 60%; border-radius: 0px">
		<a href="#" class="list-group-item active">Grupo</a>
	</div>
</div>

<script>
	$(function(){
		
	});
</script>
