@(menuIndex: Integer)
<div id="l-menu">
	<div class="col-sm-2">
		<h3 style="display: inline-block;"><b>Menu</b></h3>
		<div class="list-group" id="dynamic-menu" style="font-size: 14px;">
			<a data-index="1" href="#" class="list-group-item menu-link-travels @if(menuIndex == 0){active}">Todas</a>
			<a data-index="2" href="#" class="list-group-item travels-board menu-link-board @if(menuIndex == 1){active}">Participando</a>
			<a data-index="3" href="#" class="list-group-item travels-admin menu-link-admin @if(menuIndex == 2){active}">Administrando</a>
		</div>
	</div>
</div>

<div class="travel-box-template">
	<input type="hidden" id="travel-id" value="" />
	<a href="#" style="color: #333333;"><div class="col-md-2">
		<div>
			<img src="" id="photoUrl">
		</div>
	</div>
	<div class="travel-box-content">
		<p><b><h3 id="name"></h3></b></p>
		<p id="description"></p>
	</div></a>
	<div id="administer">
		<a href="" id="edit">
			<div class='travel-box-toggle travel-box-edit color-green' title="Editar" >
				<i class="fa fa-cog"></i>
			</div>
			<div class="travel-box-join" data-activated="true"></div>
		</a>
	</div>
	<div id="participating">
		<div class='travel-box-toggle travel-box-join' data-activated="false" data-locked='false' title="Participar" data-travelid="1">
			<i class="fa"></i>
		</div>
	</div>
	<a href="" id="info"><div class="travel-box-toggle travel-box-info color-blue" title="Mais informa&ccedil;&otilde;es">	
		<i class="fa fa-plus"></i>
	</div></a>
</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/dynamic-sidebar.js")"></script>