@(index: Integer)
<style>
#l-menu {
	height: 100%; 
	width: 100%;
	position: fixed; 
	padding-left: 1.8%; 
	margin-top: 4%; 
	padding-right: 5%; 
	color: white;
}
#l-menu div {
	background-color: #388db5;
	border-radius: 10px;
	margin-top:1.9%;
	padding-right: 10px;
}
#l-menu a {
	border-radius: 5px; 
	border-color: #eee;
}
</style>
<div id="l-menu">
	<div class="col-sm-2">
		<h3 style="display: inline-block;"><b>Menu</b></h3>
		<div class="list-group" style="font-size: 14px;">
			<a href="/travels" class="list-group-item menu-link-travels @if(index == 0){ active }">Todas</a>
			<a href="/travels/in" class="list-group-item travels-board menu-link-board @if(index == 1){ active }">Participando</a>
			<a href="/travels/admin" class="list-group-item travels-admin menu-link-admin @if(index == 2){ active }">Administrando</a>
		</div>
	</div>
</div>
