@(post: models.travel.Post)

<style>
.message-box {
	height:177px;
	margin-left:-28px;
	border-bottom:1px solid #eee; 
}
.message-box div div, .message-box img {
	width: 105px;
	height: 105px;
}
.message-box div div {
	margin-top:27%;
}
.message-box img {
	border:1px solid rgb(172, 172, 172);
	border-radius: 5px;
	box-shadow: 2px 2px 2px #b7b7b7;
}
.message-box h3 {
	display:inline-block;
	margin-top:12px;
	font-size:18px;
	color:black;
}
.message-box i {
	font-size:14px;
	top:81%;
	left:13px;
	position:absolute;
}

</style>

<div class="message-box">
	<div class="col-md-2">
		<div>
			<a href="/@post.getUser().getId()/profile"><img src="@post.getUser().getPhotoUrl()"></a>
		</div>
	</div>
	<div class="arrow_box col-md-7">
		<h3>
			<b>@post.getUser().getName() disse</b>
		</h3>
		<p> @post.getMessage()</p>
		<i>@post.getFormattedDate()</i> 
	</div>
</div>

