@(user: User, travel: models.travel.Travel)

<h3><b>@travel.getName()</b></h3>
<p style="margin-top:30px;text-align:justify">@travel.getDescription()</p>
<hr>
@if(travel.isAdminister(user)) {
	<h3>Administração</h3>
	<div style="margin-top:30px;">
		<a href="/travels/@travel.getId()/edit"><button class="btn btn-default col-md-4">Editar</button></a>
		<!-- <button id="cancel-travel" class="btn btn-danger col-md-6 col-md-offset-2">Cancelar viagem</button> -->
		&nbsp; 
		<div style="clear: both;"></div>
		<br/>
	</div>
} else {
	<button id="leave-travel" class="btn btn-danger col-md-6 col-md-offset-2">Sair da viagem</button>
	<div style="clear: both;"></div>
	<br/>
}
<hr style="margin-top:0">
<h3>Participantes</h3>
<div style="margin-top: 30px;">
	<input style="margin-bottom:25px" class="form-control" placeholder="Convide um usuário"/>
	<div class="participantes-foto">
		@for(user <- travel.getParticipating()){ 
			<a href="/@user.getId()/profile"><img title="@user.getName()" src="@user.getPhotoUrl()" width="40px" height="40px" style="margin-bottom: 4px; border: 1px solid rgb(172, 172, 172);"></a> 
		}
	</div>
	<a href="/travels/@travel.getId()/info" style="margin-top:5px;text-decoration:none;color:white;">Ver mais...</a>
</div>