@(menuIndex: Integer, user: User, travels: Set[Travel], isAdmin: Boolean)
@home(menuIndex, true) {
	<div class="list-travels col-md-5">
		<div class="list-travels-header">
			<p>Viagens</p>
		</div>
		<div class="list-travels-content">
		@if(travels != null && travels.size() > 0){
			@for(t <- travels){
				@travel(user, t)
			}
		}else{
			<h3>No momento n&atilde;o existem viagens para esta categoria.</h3>
		}
		</div>
		<button class="load-more btn btn-primary" id="load-more" data-loading-text="<h4>Procurando novas viagens...</h4>" >
			<h4>Carregar mais</h4>
		</button>     
	</div>
	@menus.rmenu(menu())
	<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/join-travel.js")"></script>
} 