@(menuIndex: Integer, isAdmin: Boolean)
@home(menuIndex) {
	<style>
	.list-travels{
		width: 70%;
		background-color: white;
		border: 1px solid #b7b7b7;
		border-radius: 10px 10px 0px 0px;
	}
	.list-travels-header {
		line-height: 50px;
		font-size: 20px;
		border-bottom: 1px solid #b7b7b7;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
	}
	.load-more {
		margin-left: 0;
	}
	</style>
	<div class="list-travels col-md-5">
		<div class="list-travels-header">
			<p>Viagens</p>
		</div>
		@for(i <- 0 to 10) {
			@if(isAdmin) {
				@travel_admin("/assets/img/perfil.jpg", "Titulo", "Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao ")
			} else {
				@travel("/assets/img/perfil.jpg", "Titulo", "Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao ", (i % 2 == 0), (menuIndex == 1))
			}
		}
		<div class="load-more btn btn-primary">
			<h4>Carregar mais</h4>
		</div>     
	</div>
	@menus.rmenu(menu())
	<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/travel-buttons.js")"></script>
} 