
<div><h3><b>Criar viagem</b></h3></div>
<form role="form" method="post" action="/travels/create" id="form-new-travel" >
	<div class="form-group">
		<label>Nome</label>
		<input type="text" class="form-control" placeholder="Nome" name="name" required />
	</div>
	<div class="form-group">
		<label>Descri&ccedil;&atilde;o</label>
		<input type="text" class="form-control" placeholder="Descri&ccedil;&atilde;o" name="description" />
	</div>
	<div class="form-group">
		<label>Data de viagem</label>
		<input type="text" class="form-control datepicker" placeholder="Data de viagem" name="date" required style="padding-left: 10px;" />
	</div>
	<div class="form-group">
		<label>Local</label>
		<button id="choose-place" class="btn btn-default col-md-12" data-toggle="button">Escolher local da viagem</button>
		<div id="choose-place-content" class="thumbnail" data-visible="false">
			<div id="map-canvas"></div>
			<input type="text" class="form-control" placeholder="Descri&ccedil;&atilde;o do local" name="place-description" />
			<input type="text" name="coords-x" />
			<input type="text" name="coords-y" />
		</div>
	</div>
	<div class="form-group">
		<input type="checkbox" name="locked" /> Esta viagem &eacute; privada
	</div>
	<div id="lock-content">
		<div class="form-group">
			<input class="form-control" type="password" name="password" placeholder="Senha" />
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="repeat-password" placeholder="Repita a senha" />
		</div>
	</div>
	<div class="form-group">
		<center><button  id="form-top" type="submit" class="btn btn-success">Criar viagem</button></center>
	</div>
</form>
<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/create-travel.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/set-map-place.js")"></script>