@(user: User, travel: models.travel.Travel)

<div class="travel-box"  >
	<input type="hidden" id="travel-id" value="@travel.getId()" />
	<a href="/travels/@travel.getId()/board" style="color: #333333;"><div class="col-md-2">
		<div >
			<img src="@travel.getPhotoUrl()" >
		</div>
	</div>
	<div class="travel-box-content">
		<p><b><h3>@travel.getName()</h3></b></p>
		<p>@travel.getDescription()</p>
	</div></a>
	<a href="/travels/@travel.getId()/edit">
		<div class='travel-box-toggle travel-box-edit color-green' title="Editar">
		<i class="fa fa-cog"></i>
		</div>
	</a>
	<a href="/travels/@travel.getId()/info">
		<div class="travel-box-toggle travel-box-info color-blue" title="Mais informa&ccedil;&otilde;es" >	
			<i class="fa fa-plus"></i>
		</div>
	</a>
</div>