@(thumbnail: String, title: String, description: String)

<div class="travel-box"  >
	<div class="col-md-2">
		<div >
			<img src="/assets/img/perfil.jpg" >
		</div>
	</div>
	<a href="/travels/1/board"  style="color: #333333;"><div class="travel-box-content">
		<p><b><h3>@title</h3></b></p>
		<p>@description</p>
	</div></a>
	<a href="/travels/1/edit"><div class='travel-box-toggle travel-box-edit color-green' title="Editar">
		<i class="fa fa-cog"></i>
	</div></a>
	<a href="/travels/1/info"><div class="travel-box-toggle travel-box-info color-blue" title="Mais informa&ccedil;&otilde;es" >	
		<i class="fa fa-plus"></i>
	</div></a>
</div>