h3 {
	font-size: 18px;
}

html body {
	height: 100%;
}

.main-content {
	height: 92%; 
	position: fixed; 
	margin-top:4%;
	background-color:white;
	width:82.6%;
	margin-left:17.366667%;
	overflow-y:auto;
	padding:0.5% 1% 1% 1%;
}

.color-theme {
	background-color: rgb(15, 48, 70);
}

.color-gradiente-theme {
	background-color: rgb(15, 48, 70);
	background-image: -webkit-linear-gradient(top,rgb(27, 73, 105),rgb(15, 48, 70));
}

.color-green, .travel-box-edit {
	background-color: #1bba38;
}

.color-dark-green, .travel-box-edit:hover {
	background-color: #157727;	
}

.color-gray {
	background-color: rgb(211, 211, 211);
}

.color-dark-gray {
	background-color: rgb(102, 102, 102);
}

.color-blue, .travel-box-info {
	background-color: #2e81c1;
}

.color-dark-blue, .travel-box-info:hover {
	background-color: #1f547c;
}

.color-red {
	background-color: rgb(211, 51, 51);
}

.list-group-item {
	border-radius: 0px !important;
}

.list-group-item .active::before {
	background-color: rgb(63, 63, 63) !important;
	border-radius: 0px;
	border-color: rgb(119, 119, 119);
}

.arrow_box {
	color: rgb(80, 80, 80);
	left: 7%;
	width: 76.4%;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #C9C9C9;
	height: 79%;
	border-radius: 2px;
	top: 10%;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: white;
	border-width: 24px;
	margin-top: -24px;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #C9C9C9;
	border-width: 25px;
	margin-top: -25px;
}

.list-travels {
	margin-top: 1.15%;
} 

.load-more {
	width: 100%;
	margin: 10px;
}

.travel-box {
	height:177px;
	margin-left:-15px;
	padding-right: 10px;
	border-bottom:1px solid #eee;
	width:104.3%;
}

.travel-box:hover {
	background-color: #eee;
}

.travel-box .col-md-2 div {
	margin-top:25%;
	width:105px;
	height:117px;
}

.travel-box img {
	width: 105px;
	height: 117px;
	border:1px solid rgb(172, 172, 172);
	border-radius: 5px;
	box-shadow: 2px 3px 1px #d7d7d7;
}
.travel-box-thumbnail {
	display: inline;
	position: absolute;
	padding: 10px;
	width: 11%;
}

.travel-box-content {
	position: absolute;
	padding-top: 7px;
	width: 70%;
	margin-left: 19.333333%;
}

.travel-box-toggle {
	float: right;
	margin-top: 3%;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 35px;
	border-radius: 100%;
	color: white;
	text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	clear: right;
}

#map-canvas {
  width: 100%;
  height: 250px;
  margin: 0px;
  padding: 0px;
}
#choose-place-content input {
	height: 50px;
}

/* Login */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.input-login-form {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-login-form:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

/* Login end */
.user-avatar {
	width: 100%;
	position: relative;
	height: 57px;
	margin-top: -6px;
}

.user-avatar a .badge {
	z-index: 2;
	position: absolute;
	left: -2px;
	top: 10px;
}

.user-avatar a img {
	-webkit-box-shadow: 0 1px 3px #1e1e1e;
	-moz-box-shadow: 0 1px 3px #1e1e1e;
	box-shadow: 0 1px 3px #1e1e1e;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	width:35px;
	height:35px;
	margin-right:10px;
}

.badge-dark-red {
	background: #a24037;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#b5473e),color-stop(100%,#a24037));
	background-image: -webkit-linear-gradient(top,#b5473e,#a24037);
	background-image: -moz-linear-gradient(top,#b5473e,#a24037);
	background-image: -o-linear-gradient(top,#b5473e,#a24037);
	background-image: linear-gradient(top,#b5473e,#a24037);
	-webkit-box-shadow: 0 0 0 1px #692924;
	-moz-box-shadow: 0 0 0 1px #692924;
	box-shadow: 0 0 0 1px #692924;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: #388db5;
	height: 57px;
}


