h3 {
	font-size: 18px;
}

.color-theme {
	background-color: rgb(0, 48, 60);
}

.list-group-item {
	border-radius: 0px !important;
}

.list-group-item .active::before {
	background-color: rgb(63, 63, 63) !important;
	border-radius: 0px;
	border-color: rgb(119, 119, 119);
}

.arrow_box {
	color: rgb(80, 80, 80);
	left: 7%;
	width: 76.4%;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #C9C9C9;
	height: 79%;
	border-radius: 2px;
	top: 10%;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

}
.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: white;
	border-width: 24px;
	margin-top: -24px;
}

}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #C9C9C9;
	border-width: 25px;
	margin-top: -25px;
}

html body {
	height: 100%;
}