<style>
.list-travels {
	margin-top: 1.15%;
}
</style>
<div class="list-travels col-md-8">
@for(i <- 0 to 10) {
	@travel("/assets/img/perfil.jpg", "Titulo", "Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao Descricao ", false)
}
</div>
<div class="col-md-2" style="color:white;background-color:rgb(94,94,94);width: 28.996667%;top:1.9%;left:1.5%;padding-bottom:13px;">
	@menus.r_menu()
</div>