<div class="message-box" style="height: 177px;margin-left: -28px; border-bottom: 1px solid #eee; ">
	<div class="col-md-2">
		<div
			style="margin-top: 27%; width: 105px; height: 117px; background-color: rgb(94, 94, 94);">
			<img src="/assets/img/perfil.jpg" width="105px" height="117px"
				style="border: 1px solid rgb(172, 172, 172);">
		</div>
	</div>
	<div class="arrow_box col-md-7">
		<h3 style="display: inline-block; margin-top: 12px;">
			<b style="font-size: 18px; color: black;">Fofura disse</b>
		</h3>
		<i style="font-size: 12px; top: 81%; left: 13px; position: absolute;">16
			de agosto de 2014 ás 18:00h</i> <br>Ola Felipe, Tudo bem? Vamos
		embora agora ou não? Vamos que horas? Corre!! kkkk senão vamos nos
		atrasar?
	</div>
</div>