@(thumbnail: String, title: String, description: String, locked: Boolean, participating: Boolean)
<div class="travel-box">
	<div class="travel-box-thumbnail">
		<img src="@thumbnail" width="100px" height="100px" />
	</div>
	<div class="travel-box-content">
		<p><b>@title</b></p>
		<p>@description</p>
	</div>
	<div class='travel-box-toggle @if(participating) { travel-box-toggle-green } else { travel-box-toggle-gray }'>
		@if(locked) {
			<i class="fa fa-lock" data-locked="true"></i>
		} else {
			<i class="fa fa-check" data-locked="false"></i>
		}
	</div>
</div>