@(user: User, travel: models.travel.Travel, errorMessage: String)
@index = @{
	if(travel == null) 0
	else if(travel.isAdminister(user)) 2
	else if(travel.isParticipating(user)) 1
	else 0
}
@home(index) {
	<style>
		.list-travels-info {
			width:70%;
			background-color: white;
			padding: 10px;
			border-radius: 10px;
			border: 1px solid #b7b7b7;
		}
	</style>
	@if(!errorMessage.trim().equals("")) {
		<div class="alert alert-danger" role="alert" style="margin-top: 1.19%;">
			@errorMessage
		</div>
	} else {
		<div class="list-travels list-travels-info col-md-5">
			<div class="form-group">
				<label>Nome</label>
				<input type="text" class="form-control" disabled value="@travel.getName()" />
			</div>
			<div class="form-group">
				<label>Descri&ccedil;&atilde;o</label>
				<input type="text" class="form-control" disabled value="@travel.getDescription()" />
			</div>
			<div class="form-group">
				<label>Data de viagem</label>
				<input type="text" class="form-control" disabled value="@travel.getFormattedDate()" />
			</div>
			<div class="form-group">
				<label>Local</label>
				<input type="text" class="form-control" disabled value="@travel.getPlace().getDescription()" />
				<input type="button" id="choose-place" class="form-control btn btn-default" data-toggle="button" value="Ver no mapa" />
				<div id="choose-place-content" class="thumbnail" data-visible="false">
					<div id="map-canvas" width="100%" height="400px"></div>
					<input type="hidden" name="coords-x" value="@travel.getPlace().getCoordX()" />
					<input type="hidden" name="coords-y" value="@travel.getPlace().getCoordY()" />
				</div>
			</div>
			<div class="form-group">
				<input type="checkbox" @if(travel.isLocked()) { checked } disabled /> Privado
			</div>
		</div>
		@menus.rmenu(menu(travel))
		<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/show-travel.js")"></script>
	}
} 