@home(-1) {
	<style>
		#map-canvas {
			width: 100%;
		}
	</style>
	<div class="list-travels col-md-5" style="width:70%">
		<div class="form-group">
			<label>Nome</label>
			<input type="text" class="form-control" disabled value="Titulo" />
		</div>
		<div class="form-group">
			<label>Descri&ccedil;&atilde;o</label>
			<input type="text" class="form-control" disabled value="Descricao descricao descricao descricao" />
		</div>
		<div class="form-group">
			<label>Data de viagem</label>
			<input type="text" class="form-control" disabled value="29/09/14" />
		</div>
		<div class="form-group">
			<label>Local</label>
			<input type="text" class="form-control" disabled value="Cidade das fadas assassinas, n. 120" />
			<input type="button" id="choose-place" class="form-control btn btn-default" value="Ver no mapa" />
			<div id="choose-place-content" class="thumbnail" data-visible="false">
				<div id="map-canvas"></div>
			</div>
		</div>
		<div class="form-group">
			<input type="checkbox" disabled /> Privado
		</div>
	</div>
	@menus.rmenu(menu())
	<script type="text/javascript" src="@routes.Assets.at("javascripts/create-travel.js")"></script>
} 