<style>
.participant {
	position: relative;
	background-color: white;
	border-bottom: 1px solid #d7d7d7;
	border-radius: 5px 0 0 5px;
	margin-right: 10px;	
}
.participant:nth-of-type(1), .participant:nth-of-type(2) {
	border-radius: 5px 5px 0 5px;
}
.participant:hover {
	background-color: #d8d8d8;
	border-radius: 5px 5px 5px 5px;
}
.participant a {
	text-decoration: none;
}
.participant img {
	border-radius: 3px;
	border:1px solid rgb(172, 172, 172);
}
.participant-entry {
	font-size: 15px;
	display: block;
	float: right;
	clear: both;
	margin-top: -20px;
	margin-right: 10px;
}
</style>

<div class="participant">
	<a href="/1/profile">
		<img src="/assets/img/perfil.jpg" width="50px" height="50px">
		<span style="font-size: 18px; color: black;">&nbsp;Fofura da Silva
		<span class="participant-entry"><i>Entrou em: 19/09/14</i></span></span>
		<div style="clear: both;"></div>
	</a>
</div>
<script>
	$(function(){
		$(".participant").mouseenter(function(){
			$(this).animate({
				left: "+=2px"
			}, 10);
		});
		$(".participant").mouseleave(function(){
			$(this).animate({
				left: "-=2px"
			}, 10);
		});
	});
</script>