<style>
.participant {
	position: relative;
	background-color: white;
	border-bottom: 1px solid #c8c8c8;
	border-radius: 5px;
	margin-right: 20px;
}
.participant:hover {
	background-color: #d8d8d8;

}
.participant a {
	text-decoration: none;
	color: #f7f7f7;
}
.participant img {
	border-radius: 3px;
	border:1px solid rgb(172, 172, 172);
}
</style>

<div class="participant">
	<a href="#">
		<img src="/assets/img/perfil.jpg" width="50px" height="50px">
		<span style="font-size: 18px; color: black;">&nbsp;Fofura da Silva</span>
	</a>
</div>
<script>
	$(function(){
		$(".participant").mouseenter(function(){
			$(this).animate({
				left: "+=2px"
			}, 10);
		});
		$(".participant").mouseleave(function(){
			$(this).animate({
				left: "-=2px"
			}, 10);
		});
	});
</script>