
<!-- Cancel travel modal -->
<div class="modal fade" id="cancelTravelModal" tabindex="-1" role="dialog" aria-labelledby="cancelTravelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Voc&ecirc; tem certeza que deseja sair esta viagem?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="cancel-travel-confirm">Confirmar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->