
<!-- Forbidden access modal -->
<div class="modal fade" id="forbiddenModal" tabindex="-1" role="dialog" aria-labelledby="forbiddenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
       	<p>&Eacute; preciso participar da viagem para ter acesso a sala.</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->