
<!-- Type password modal -->
<div class="modal fade" id="typePasswordModal" tabindex="-1" role="dialog" aria-labelledby="typePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Esta viagem &eacute; privada. Por favor, digite a senha:</p>
        <input type="password" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="travel-box-password-confirm">Confirmar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->