@(user: User)

@home(-1){
<style>
#profile {
	background-color: white;
	border-radius: 10px;
	border: 1px solid #b7b7b7;
	padding: 10px;
	margin-top: 1.9%;
}
#profile-photo {
	display: inline-block;
	position: absolute;
}
#profile-photo img {
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #b7b7b7;
}

#profile-description {
	display: inline-block;
	margin-left: 220px;
	width: calc(100% - 250px);
}

.profile-travel {
	display: inline-block;
	margin: 5px;
}

.profile-travel img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
}
</style>
<div id="profile">
	@if(user == null) {
		<div class="alert alert-danger" role="alert">
			<p>Usuário não encontrado.</p>
		</div>
	} else {
		<div id="profile-photo">
			<img src="@user.getPhotoUrl()" width="200px" height="200px" />
		</div>
		<div id="profile-description">
			<div class="form-group">
				<label>Nome</label>
				<input type="text" class="form-control" value="@user.getName()" disabled />
			</div>
			<div class="form-group">
				<label>E-mail</label>
				<input type="email" class="form-control" value="@user.getEmail()" disabled />
			</div>
			<div class="form-group">
				<label>Membro desde</label>
				<input type="text" class="form-control" value="@user.getFormattedDate()" disabled />
			</div>
		</div>
		<div style="clear: both;"></div>
		<hr>
		<div>
			<h3>Viagens administradas</h3>
			@for(travel <- user.getTravelsAdmin()) {
				<div class="profile-travel">
					<a href="/travels/@travel.getId()/info"><img src="/assets/img/perfil.jpg" title="@travel.getName()" /></a>
				</div>
			}
		</div>
		<hr>
		<div>
			<h3>Viagens participadas</h3>
			@for(travel <- controllers.TravelController.getTravelsParticipating()) {
				<div class="profile-travel">
					<a href="/travels/@travel.getId()/info"><img src="/assets/img/perfil.jpg" title="@travel.getName()" /></a>
				</div>
			}
		</div>
	}
</div>
}