@home(0){
<style>
#profile {
	background-color: white;
	border-radius: 10px;
	border: 1px solid #b7b7b7;
	padding: 10px;
	margin-top: 1.9%;
}
#profile-photo {
	display: inline-block;
	position: absolute;
}
#profile-photo img {
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #b7b7b7;
}

#profile-description {
	display: inline-block;
	margin-left: 220px;
	width: calc(100% - 250px);
}

.profile-travel {
	display: inline-block;
	margin: 5px;
}

.profile-travel img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
}
</style>
<div id="profile">
	<div id="profile-photo">
		<img src="/assets/img/perfil.jpg" width="200px" height="200px" />
	</div>
	<div id="profile-description">
		<div class="form-group">
			<label>Nome</label>
			<input type="text" class="form-control" value="Fofura da Silva" disabled />
		</div>
		<div class="form-group">
			<label>E-mail</label>
			<input type="email" class="form-control" value="user1 at mail.com" disabled />
		</div>
		<div class="form-group">
			<label>Membro desde</label>
			<input type="text" class="form-control" value="29/09/14" disabled />
		</div>
	</div>
	<div style="clear: both;"></div>
	<hr>
	<div>
		<h3>Viagens administradas</h3>
		@for(i <- 1 to 3) {
			<div class="profile-travel">
				<a href="/travels/1/info"><img src="/assets/img/perfil.jpg" title="Viagem para recife" /></a>
			</div>
		}
	</div>
	<hr>
	<div>
		<h3>Viagens participadas</h3>
		@for(i <- 1 to 10) {
			<div class="profile-travel">
				<a href="/travels/1/info"><img src="/assets/img/perfil.jpg" title="Viagem para recife" /></a>
			</div>
		}
	</div>
</div>
}