@main("#Partiu") {
	<div class="col-md-offset-1" style="position: absolute;top: 10%;height: 86%;margin-left: 0;margin-right: 5%;">
	  <div style="height: 100%;">
			<div class="col-md-7" style="padding:7.5% 7% 0% 6%;color: white;height: 100%;">
					<h1 class="row" style="font-size:40px;">
						<b>#Partiu</b>
					</h1>
					<br>
					<h2 class="row" style="font-size:20px;text-align:justify">
					<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
					 bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
					  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
					   bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
					    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
					</p>
					</h2>
					<h2 class="row" style="font-size:26px;">Participe agora mesmo!</h2>
			</div>	
			<div class="row col-md-5" style="background-color: white;margin-left:0;text-align:center;padding: 3%;top: 20%;">
				<h2 style="font-size:26px;">Cadastre-se, é gratuito!</h2>
				<br>
				<form method="post" action="/novo">
					<div class="input-group margin-bottom-sm" style="margin-top:2%">
						<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						<input class="form-control" name="nome" style="font-size:16px;height:40px;" type="text" placeholder="Nome" required="required" autocomplete="off">
					</div>
					<div class="input-group margin-bottom-sm" style="margin-top:2%">
						<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
						<input class="form-control" name="email" style="font-size:16px;height:40px;" type="text" placeholder="Email" required="required" autocomplete="off">
					</div>
					<div class="input-group" style="margin-top:2%">
						<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				 		<input class="form-control" name="senha" style="font-size:16px;height:40px;" type="password" placeholder="Senha" required="required">
					</div>
					<input class="btn btn-primary" style="font-size:20px;width:100%;margin-top:3%" value="Cadastrar" type="submit">
				</form>
			</div>
		</div>
	</div>
}