@(message: String)

@main("#Partiu", null) {
	<div class="col-md-offset-1" id="index-content">
		<div id="index-content-cover">
	  <div style="height: 100%;">
			<div class="col-md-7">
					<h1 class="row">
						<b>#Partiu</b>
					</h1>
					<br>
					<h2 class="row">
					<p>
						N&oacute;s ajudamos a levar voc&ecirc; e seus amigos aos lugares mais incr&iacute;veis do mundo.
					</p>
					</h2>
					<h2 class="row">Participe agora mesmo!</h2>
			</div>	
			@if(!message.trim().equals("")) {
				<div class="alert alert-danger row col-md-5" role="alert" style="left: 50px; margin-top: -50px;">
					<p>@message</p>
				</div>
			}		
			<div class="row col-md-5" id="index-register" >
				<h2>Cadastre-se, é gratuito!</h2>
				<br>
				<form method="post" action="/register" role="form" >
					<div class="input-group margin-bottom-sm">
						<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						<input class="form-control" name="name" type="text" placeholder="Nome" required >
					</div>
					<div class="input-group margin-bottom-sm">
						<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
						<input class="form-control" name="email" type="email" placeholder="Email" required >
					</div>
					<div class="input-group" >
						<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				 		<input class="form-control" name="password" type="password" placeholder="Senha" required >
					</div>
					<input class="btn btn-primary" value="Cadastrar" type="submit">
				</form>
			</div>
		</div>
		</div>
	</div>
}