@main("#Partiu") {
	<div class="col-md-offset-1" id="index-content">
		<div id="index-content-cover">
	  <div style="height: 100%;">
			<div class="col-md-7">
					<h1 class="row">
						<b>#Partiu</b>
					</h1>
					<br>
					<h2 class="row">
					<p>
						N&oacute;s ajudamos a levar v&ocirc;c&ecirc; e seus amigos aos lugares mais incr&iacute;veis do mundo.
					</p>
					</h2>
					<h2 class="row">Participe agora mesmo!</h2>
			</div>	
			<div class="row col-md-5" id="index-register" >
				<h2>Cadastre-se, é gratuito!</h2>
				<br>
				<form method="post" action="/novo">
					<div class="input-group margin-bottom-sm">
						<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						<input class="form-control" name="nome" type="text" placeholder="Nome" required="required" autocomplete="off">
					</div>
					<div class="input-group margin-bottom-sm">
						<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
						<input class="form-control" name="email" type="text" placeholder="Email" required="required" autocomplete="off">
					</div>
					<div class="input-group" >
						<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				 		<input class="form-control" name="senha" type="password" placeholder="Senha" required="required">
					</div>
					<input class="btn btn-primary" value="Cadastrar" type="submit">
				</form>
			</div>
		</div>
		</div>
	</div>
}