<style>
	.login-form {
		margin-left: 0px;
	}
	.login-form div {
		display: inline-flex;
		width: 100%;
	}
	.login-form div .btn {
		font-size:16px;
		height:35px;
		border-radius:0px 4px 4px 0px !important
	}
	.input-login-form {
		margin-left: 3px;
		font-size: 14px;
		height:35px;
		border-radius:4px 0px 0px 4px !important;
		width: 175%;
	}
</style>
<form class="col-sm-12 col-sm-offset-1 login-form" action="/login" method="post">
	<div>
		<input class="input-login-form" name="email" placeholder="Email" type="email" autofocus="autofocus" required="required">
		<input class="col-sm-3 input-login-form" name="password" placeholder="Senha" type="password" required="required">
		<input class="col-sm-5 btn btn-primary" value="Entrar" type="submit">	
	</div>
</form>