<form class="col-sm-12 col-sm-offset-1" style="margin-top: 1.5%; margin-left: 0px;" action="/entrar" method="post">
	<div style="display: inline-flex;width: 100%;">
		<input class="input-login-form" name="email" style="font-size: 14px;height:35px;border-radius:4px 0px 0px 4px !important;width: 175%;" placeholder="Email" type="email" autofocus="autofocus" required="required">
		<input class="col-sm-3 input-login-form" name="senha" style="font-size: 14px;height:35px;border-radius:0px 0px 0px 0px !important;" placeholder="Senha" type="password" required="required">
		<input class="col-sm-5 btn btn-primary" style="font-size:16px;height:35px;border-radius:0px 4px 4px 0px !important" value="Entrar" type="submit">	
	</div>
</form>