@(title: String)(content: Html)

<!DOCTYPE html>

<style>
#nav {
	padding: 3px;
	box-shadow: 0px 0px 0px 0px;
	color: #707070;
	font-size: 30px;
	box-shadow: 0px 1px 0px #b7b7b7;
	height: 60px;
}
#nav a {
	color: #606e75;
	margin-left: 10px;
}
#nav a:hover {
	text-decoration: none;
	color: #0174DF;
}
#nav .nav-container a {
	line-height: 60px;
}
#nav home i {
	font-size:35px;
	margin-top:-18%;
}
.navbar-right {
	width: 100%;
	margin-right: 20px;
}
</style>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.popconfirm.js")" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    </head>
    <body>
   		<!-- Navbar -->
   		<nav role="navigation" id="nav" class="navbar navbar-default navbar-fixed-top">
    		 <!-- Home icon -->
		    <div class="navbar-header">
		    	<div class="nav-container">
			        <a href="/">
				        <i class="fa fa-plane"></i> #Partiu
				    </a>
		   		</div>
			</div>
			<!-- Right side -->
			<div class="collapse navbar-collapse">
					<!-- Login fields -->
		        	@if(controllers.AccountController.getCurrentUser() == null){
	        		  <ul class="nav navbar-nav navbar-right col-md-5">
		          	  	@login()
		          	  </ul>
		            } else {
		            <!-- Profile dropdown -->
		            <ul class="nav navbar-nav navbar-right col-md-2">
		            	<div class="collapse navbar-collapse profile-collapse navbar-right">
					        <ul class="nav navbar-nav">
					            <li class="dropdown user-avatar">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					                    <img src="/assets/img/perfil.jpg" alt="Fofura"><span style="font-size: 20px;">Fofura <i class="caret"></i></span>
					                    <span class="badge badge-dark-red">5</span>
					                </a>
					                <ul class="dropdown-menu">
					                    <li>
					                        <a href="#/">
					                            <i class="icon-user"></i>
					                            <span>Perfil</span>
					                        </a>
					                    </li>
					                    <li>
					                        <a href="#/">
					                            <i class="icon-envelope"></i>
					                            <span>Mensagens</span>
					                            <span class="label label-red pull-right">5</span>
					                        </a>
					                    </li>
					                    <li>
					                        <a href="#/">
					                            <i class="icon-cog"></i>
					                            <span>Configurações</span>
					                        </a>
					                    </li>
					                    <li>
					                        <a href="#" onclick="document.getElementById('logoutForm').submit();">
						                        <form id="logoutForm" action="/logout" method="post">
							                            <i class="icon-off"></i>
							                            <span>Sair</span>
						                         </form>
					                        </a>
					                    </li>
					                </ul>
					            </li>
					        </ul>
					    </div>
		       		 </ul>
		            }
		    </div>
		</nav>
		@content
    </body>
</html>
